<h2>Todo List</h2>
<div class="row">
    <div class="col-md-4">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input #newTask
                (keyup.enter)="addItem(newTask.value)"
                class="form-control" >
            </div>
            <button (click)="addItem(newTask.value)" 
                class="btn btn-success mb-2" 
                type="button">Add</button>
        </form>

        <ul *ngFor="let item of items | async" class="list-group">
            <li class="list-group-item"> {{ item | json }} </li>
        </ul>
    </div>
</div>