<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Todo List</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <form #frmAddTask="ngForm" (ngSubmit)="onSubmit(frmAddTask)">
            <div class="input-group mb-3">
                <input
                (keyup.enter)="onSubmit(frmAddTask)"
                name="newTask"
                ngModel required #newTask="ngModel"
                class="form-control" >
                <div class="input-group-append">
                    <button
                        class="btn btn-success mb-2" 
                        type="submit">Add New Task
                        <fa-icon [icon]="faPlusSquare"></fa-icon>
                    </button>
                </div>
                <div *ngIf="newTask.invalid && (newTask.dirty || newTask.touched)"
                    class="invalid-feedback" style="display:block !important">

                    <div *ngIf="newTask.errors.required">
                        Task is required.
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <ul *ngFor="let task of taskService.getTasks() | async" class="list-group">
            <li class="list-group-item"> 
                {{ task.payload.val().task }} 
                <span class="float-right">
                    <button class="btn btn-danger" (click)="taskService.removeTask(task)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                </span>
                
            </li>
        </ul>
    </div>
</div>